html {
  box-sizing: border-box;
  background-color: black;
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  height: 100%;
}
body {
  background-color: black;
  height: 100%;
}

.headcontainer {
  display:flex;
  height: 69px;
  background-color: black;
  border-bottom: solid 1px seashell;
}

  .logo {
    padding-left: 10px;
    padding-top: 10px
  }

  .logo img {
    height: 50px;

    align-items: center;
    justify-content: flex-start;
  }
  nav {
    flex: 3;
  }
  nav ul {
    list-style: none;
    padding: 0;
  }
  nav a {
    display: flex;
    text-decoration: underline;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    padding: 10px;
  }
  @media screen and (min-width: 760px) {
    nav ul {
      display: flex;
      height: 100%;
      justify-content: flex-end;
      align-content: center;
    }
    .imgcontainer1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    padding-bottom: 30px;
  }
    .firstimage img {
      height: 700px;
      width: 1200px;

    }
    .container2 {
      position: absolute;
      width: 1200px;
      background-color: black;
      justify-content: center;
    }
    .container2 h2, h4 {
      text-align: center;
      color: seashell;
    }

    .monthlytea,
    h2,
    h4 {
      justify-content: center;
      text-align: center;
    }
    .container3 img {
      height: 200px;
      width: 300px;
      padding: 0 12px 0 12px;
    }
    .teaimg {
      display: inline-flex;
      max-width: 1000px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    #locations {
      background-image: url("../images/img-locations-background.jpg");
      background-repeat: no-repeat;
      height: 500px;
      width: 100%;
      opacity: 0.9;
    }

     h2 {
      display: flex;
      padding-top: 30px;
      text-align: center;
    }
    .locations {
      display: inline-flex;
      width: 300px;
      background-color: black;
      opacity: 1;
    }
    .locations,
    h3,
    p {
      flex-direction: column;
      justify-content: center;
    }
    #contact {
      padding: none;
    }
    .contact {
    height: 200px;
    text-align: center;
    }
    .copyright {
    text-align: left;
    padding-left: 20px;
    }
